* {
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  font-style: "Light 300";
}

:root {
  --board-size: 5;
  --marble-size: 100px;
  --small-marble: 50px;
}

h1,
h2 {
  margin-top: 2%;
}

html {
  background: url(./assets/space_bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#root {
  position: fixed;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.board {
  display: flex;
  flex-flow: column;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.infoBoard {
  display: flex;
  flex-flow: column;
  align-items: center;
  color: #faeff0;
  margin-bottom: 1%;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

input {
  text-align: center;
}

.modal {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  display: flex;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  justify-content: center;
  align-items: center;
}

.modal:empty {
  display: none;
}

.modal div {
  background-color: #faeff0;
  color: black;
  padding: 15px;
  text-align: center;
  border-radius: 15px;
  margin-bottom: 15px;
  max-width: calc(var(--board-size) * var(--marble-size));
}

.modal button {
  background: rgba(4, 0, 255, 0.692);
  padding: 5px 25px;
  color: #faeff0;
  font-size: 18px;
  border: #333 1px solid;
  border-radius: 5px;
  display: block;
  margin: auto;
  cursor: pointer;
}

.modal button:hover {
  background: rgba(4, 0, 255, 0.808);
  box-shadow: 1px 1px 5px #000;
}

.submitScoreForm {
  background-color: white;
}

.scoreBoard {
  font-size: xxx-large;
}

.gameTimer {
  font-size: xx-large;
}

.row {
  display: flex;
  flex-flow: row;
}

.cellBox {
  display: flex;
  justify-content: center;
  width: var(--marble-size);
  height: var(--marble-size);
}

.marble {
  height: var(--marble-size);
  width: var(--marble-size);
  border-radius: 50%;
}

.clicked {
  width: var(--small-marble);
  height: var(--small-marble);
  margin: auto;
}

.blueMarble {
  background: url(assets/blueMarble6.png) no-repeat center;
  background-size: cover;
}

.pinkMarble {
  background: url(assets/pinkMarble6.png) no-repeat center;
  background-size: cover;
}

.orangeMarble {
  background: url(assets/orangeMarble6.png) no-repeat center;
  background-size: cover;
}

.instr-tooltip {
  font-family: "Lobster", "Source Sans Pro";
  font-size: large;
  border-radius: 50%;
  width: 22px;
  text-align: center;
  color: black;
  background-color: rgba(250, 239, 240, 0.9);
}

.instr-text {
  width: calc(var(--board-size) * var(--marble-size));
  font-style: "Regular 400";
  font-size: large;
  color: black;
}

.instr-button.instr-button {
  margin-top: 5%;
}

@media screen and (max-width: 500px) {
  :root {
    --board-size: 5;
    --marble-size: 75px;
    --small-marble: 35px;
  }
  .scoreBoard {
    font-size: xx-large;
  }

  .gameTimer {
    font-size: x-large;
  }
}

@media screen and (max-width: 380px) {
  :root {
    --board-size: 5;
    --marble-size: 60px;
    --small-marble: 30px;
  }
}
