* {
  box-sizing: border-box;
  background-color: black;
}

:root {
  --board-size: 5;
  --marble-size: 30px;
  --small-marble: 20px;
}

.board {
  display: flex;
  flex-flow: column;
  gap: 1px;
}

h1,
h2,
form,
label,
#yourNickname {
  background: #faeff0;
  color: black;
}

input {
  text-align: center;
}

#modal {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  display: flex;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  justify-content: center;
  align-items: center;
}

#modal:empty {
  display: none;
}

#modal div {
  background-color: white;
  /* max-width: 500px; */
  padding: 15px;
  text-align: center;
  border-radius: 30px;
  background: #faeff0;
}

#modal button {
  background-color: #ad343e;
  padding: 5px 25px;
  color: white;
  font-size: 18px;
  border: #333 1px solid;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.submitScoreForm {
  background-color: white;
}

.scoreBoard {
  color: white;
}

.gameTimer {
  color: white;
  margin-bottom: 5px;
}

.row {
  display: flex;
  flex-flow: row;
  width: calc(var(--board-size) * var(--marble-size));
}

.cellBox {
  display: flex;
  justify-content: center;
  width: var(--marble-size);
  height: var(--marble-size);
}

.marble {
  height: var(--marble-size);
  width: var(--marble-size);
  background-color: black;
  border-radius: 50%;
}

.clicked {
  width: var(--small-marble);
  height: var(--small-marble);
  margin: auto;
}

.blueMarble {
  background-color: rgba(5, 143, 255, 0.85);
}

.pinkMarble {
  background-color: rgb(255, 4, 164);
}

.orangeMarble {
  background-color: rgb(255, 103, 26);
}
