* {
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  font-style: "Light 300";
}

:root {
  --board-size: 5;
  --marble-size: 100px;
  --small-marble: 50px;
}

h1,
h2 {
  margin-top: 2%;
}

html {
  background: url(./assets/space3.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#root {
  position: fixed;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.board {
  display: flex;
  flex-flow: column;
}

.infoBoard {
  display: flex;
  flex-flow: column;
  align-items: center;
  color: #faeff0;
  margin-bottom: 2%;
}

input {
  text-align: center;
}

#modal {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  display: flex;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  justify-content: center;
  align-items: center;
}

#modal:empty {
  display: none;
}

#modal div {
  background-color: #faeff0;
  color: black;
  padding: 15px;
  text-align: center;
  border-radius: 20%;
  margin-bottom: 15px;
}

#modal button {
  background: url(assets/blueMarble5.png) repeat center;
  padding: 5px 25px;
  color: #faeff0;
  font-size: 18px;
  border: #333 1px solid;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

#modal button:hover {
  background: url(assets/pinkMarble5.png) repeat center;
  box-shadow: 1px 1px 5px #000;
}

.submitScoreForm {
  background-color: white;
}

.scoreBoard {
  font-size: xxx-large;
}

.gameTimer {
  font-size: xx-large;
}

.row {
  display: flex;
  flex-flow: row;
}

.cellBox {
  display: flex;
  justify-content: center;
  width: var(--marble-size);
  height: var(--marble-size);
}

.marble {
  height: var(--marble-size);
  width: var(--marble-size);
  border-radius: 50%;
}

.clicked {
  width: var(--small-marble);
  height: var(--small-marble);
  margin: auto;
}

.blueMarble {
  background: url(assets/blueMarble5.png) no-repeat center;
  background-size: cover;
}

.pinkMarble {
  background: url(assets/pinkMarble5.png) no-repeat center;
  background-size: cover;
}

.orangeMarble {
  background: url(assets/orangeMarble5.png) no-repeat center;
  background-size: cover;
}

.backgroudAtrribute {
  position: fixed;
  top: 0;
  right: 0;
  font-size: xx-small;
  color: lightpink;
}
