* {
  box-sizing: border-box;
  background-color: black;
}

:root {
  --board-size: 5;
  --marble-size: 30px;
  --small-marble: 20px;
}

.board {
  display: flex;
  flex-flow: column;
  gap: 1px;
}

.scoreBoard {
  color: white;
}

.gameTimer {
  color: white;
}

.row {
  display: flex;
  flex-flow: row;
  width: calc(var(--board-size) * var(--marble-size));
}

.cellBox {
  display: flex;
  justify-content: center;
  width: var(--marble-size);
  height: var(--marble-size);
}

.marble {
  height: var(--marble-size);
  width: var(--marble-size);
  background-color: black;
  border-radius: 50%;
}

.clicked {
  width: var(--small-marble);
  height: var(--small-marble);
  margin: auto;
}

.blueMarble {
  background-color: rgba(5, 143, 255, 0.85);
}

.pinkMarble {
  background-color: rgb(255, 4, 164);
}

.orangeMarble {
  background-color: rgb(255, 103, 26);
}
